.header-wraper {
    max-width: 1366px;
    width: 100%;
    height: 324px;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
    padding-top: 30px;    
}
.navigation {
    max-width: 690px;
    width: 100%;
    padding-top: 30px;
}
.nav-ul {
    display: flex;
    justify-content: space-around;
}
a {
    color: #ffffff;
}

.map {
    margin: 0 auto;
}